* {
    box-sizing: border-box;
    font-size: 100%;
}

.hidden {
    display: none;
}

:root {
    scroll-behavior: smooth;
}

/* General styling */

body {
    font-family: 'Open Sans', sans-serif;
    color: #303030;
    font-size: 0.9em;
    line-height: 1.375em;
    padding-top: 10px;
}

a {
    color: #8F6E0C;
}

a:hover, a:active {
    text-decoration: none;
}

.pageheader {
    text-align: center;
    font-family: 'Crimson Text', serif;
    color: #8F320D;
    font-size: 2em;
    line-height: 1.25em;
}

.aboutheader, .resultsheader {
    text-align: center;
    font-family: 'Crimson Text', serif;
    color: #8F570D;
    font-size: 1.625em;
    line-height: 1.15em;
}

nav {
    text-align: center;
}

.navlink {
    display: inline-block;
    width: 40%;
    border: 2px #8F6E0C solid;
    border-radius: 4px;
    margin: 4px;
    color: #8F6E0C;
    font-weight: bold;
    text-decoration: none;
}

.navlink:hover {
    box-shadow: 2px 2px #D3B047;
    transition: all .05s linear;
}

.navlink:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
    border-top: 2px #8F6E0C solid;
    background-color: #FFFFFF;
}

footer a {
    text-decoration: none;
}

footer a:hover, footer a:active {
    font-weight: 700;
}

.error-message {
    color: #8F320C;
    text-align: center;
}


/* Home Page Styling */

.homelinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homelink {
    margin: 10px;
    padding: 40px 20px;
    border-radius: 10px;
    border: 2px #8F320C solid;
    width: 60%;
    min-width: 200px;
    min-height: 120px;
    text-align: center;
    text-decoration: none;
    color: #8F320C;
}

.homelink:hover {
    box-shadow: 4px 4px #D36F47;
    transition: all .05s linear;
}

.homelink:active {
    box-shadow: none;
    transform: translate(4px, 4px);
}

.about {
    width: 80%;
    margin: 40px auto 40px auto;
    border: 2px #8F570C solid;
    border-radius: 10px;
    padding: 40px 20px;
}


/* Search Styling */

.searchform {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.searchform label {
    display: inline-block;
    margin: 5px;
    font-style: italic;
}

input[type=text], input[type=date], select {
    display: block;
    border: 1px #8F320D solid;
    border-radius: 2px;
    margin: 0 5px;
    font-family: 'Open Sans', sans-serif;
}

.submitbutton {
    border: 2px #8F320D solid;
    border-radius: 2px;
    box-shadow: 2px 2px #D36F47;
    transition: all .05s linear;
    background-color: #FFFFFF;
    color: #303030;
    font-size: 0.9em;
    margin: 5px 0;
    cursor: pointer;
}

.submitbutton:active {
    box-shadow: 1px 1px #D36F47;
    transform: translate(1px, 1px);
}

.bestsellerresults, .booksearchresults {
    text-align: center;
    margin-bottom: 30px;
}

.bestsellerresults-list, .booksearchresults-list {
    list-style: none;
}

.bestsellerresults-item, .booksearchresults-item {
    position: relative;
    left: -5%;
    width: 90%;
    border: 2px #8F570D solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin: 10px 0;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.results-cover {
    height: 150px;
    width: auto;
    text-align: center;
}

.results-title {
    color: #8F570D;
    font-size: 1.375em;
    line-height: 1.15em;
}

.results-author, .results-description {
    color: #303030	;
    font-size: 0.9em;
}


/* More Info Div Styling */

.gbinfodiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px #8F570D solid;
    border-radius: 4px;
    text-align: left;
    padding: 1%;
}

.gbinfodiv h3 {
    color: #8F570D;
    font-size: 1.375em;
    line-height: 1.15em;
    font-weight: bold;
    font-style: italic;
}

.gbinfodiv h4 {
    color: #8F570D;
    font-size: 1.125em;
    line-height: 1.1em;
    font-weight: bold;
}

.moreinfo-link {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #FFD8A3;
    color: #8F570D;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

.moreinfo-link:hover, .moreinfo-link:active {
    color: #FFD8A3;
    background-color: #8F570D;
}

.moreinfo-cover-container {
    position: relative;
    float: right;
    padding: 0;
    margin: 20px;
    width: 30%;
    height: fit-content;
}

.moreinfo-cover {
    width: 100%;
    height: auto;
}

.moreinfo-hoverspan {
    opacity: 0;
    padding: 20px;
    display: inline-block;
    border-top: #8F570D 1px solid;
    border-bottom: #8F570D 1px solid;
    width: 100%;
    color: #8F570D;
    background-color: #FFD8A3;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
    font-size: 1em;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.moreinfo-cover-container:hover .moreinfo-hoverspan {
    opacity: 1;
}

.moreinfo-cover-container:hover .moreinfo-cover {
    filter: grayscale(100%) blur(1px);
    opacity: 0.6;
}



/* Media Queries for Desktop */

@media screen and (min-width: 450px) {
    .results-cover {
        float: left;
        margin: 10px;
    }    
}


@media screen and (min-width: 600px) {
    .homelinks {
        flex-direction: row;
    }

    .homelink {
        width: 30%;
    }

    .pageheader {
        font-size: 3em;
        line-height: 1.05em;
    }

    .aboutheader, .resultsheader {
        font-size: 2.25em;
        line-height: 1.25em;
    }

    .results-title, .gbinfodiv h3 {
        font-size: 1.75em;
        line-height: 1.25em;
    }

    .gbinfodiv h4 {
        line-height: 1.2em;
    }

    input[type=text], input[type=date], select {
        display: inline-block;
    }
    
}